<!-- Div Block containing the offers -->
<form method="post" action="/home" id="categoriesForm">
    <div class="allCategories">
        <div class="col-sm-4 col-md-4 left bottomMargin">
            <button type="submit" class="categoryOptions" name="Category" value="Vehicles"><img src="/icons/car-icon.png" class="categoryOptionsIcons">Vehicles and parts</button>
            <button type="submit" class="categoryOptions" name="Category" value="Houses"><img src="/icons/home-icon.png" class="categoryOptionsIcons">Real Estate</button>
        </div>

        <div class="col-sm-4 col-md-4 left bottomMargin">
            <button type="submit" class="categoryOptions" name="Category" value="Clothes"><img src="/icons/clothes-icon.png" class="categoryOptionsIcons">Clothes</button>
            <button type="submit" class="categoryOptions" name="Category" value="Electronics"><img src="/icons/electronics-icon.png" class="categoryOptionsIcons">Electronics</button>
        </div>

        <div class="col-sm-4 col-md-4 left bottomMargin">
            <button type="submit" class="categoryOptions" name="Category" value="HomeHobby"><img src="/icons/furniture-icon.png" class="categoryOptionsIcons">Home and Hobby</button>
            <button type="submit" class="categoryOptions" name="Category" value="Jewelry"><img src="/icons/jewelry-icon.png" class="categoryOptionsIcons">Jewelry</button>
        </div>
    </div>
</form>
{{#each articles}}
<div class="ads">
    <article onclick="location.href='/article/details/{{id}}'">

        <img src="{{picturePath}}" id="adPicture" alt="Image">

        <div id="adTitle">
            <h4>{{title}}</h4>
        </div>
    </article>
</div>
{{/each}}
<!-- End of the Div Block containing the offers -->
        