<!DOCTYPE html>
<html>
<head>
    <title>Dream Store</title>
    <link rel='stylesheet' href='/stylesheets/DSStyle.css' />
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</head>
<body>

<!-- MAIN CONTENT DIV -->

<div class="mainCont">

    <header>

        <!-- LOGO -->

        <img onclick="location.href='/'" id="JoinPageLogo" style="align-content: center" src="/icons/LOGO1.png">

    </header>

    <!-- Page Content -->

    {{#if error }}
        <div class="errorBox">
            <div class="errorMessage">
                {{error}}
            </div>
        </div>
    {{/if}}

    <div id="joinContent">
        {{{body}}}
    </div>

</div>

<footer>
    <div style="width: 95%; height: 10px; padding: 20px; text-align: right">
        <p>&copy; 2016 - Dream Team Foundation</p>
    </div>
</footer>
</body>
</html>