<form class="form-horizontal" enctype="multipart/form-data" method="POST" action="/article/create">
    <fieldset>
        <div class="form-group" style="margin-top: 30px;">
            <label class="col-sm-4 control-label" style="width: 15%" for="articleTitle">Article Title</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="articleTitle" placeholder="Article Title" name="title" required maxlength="50">
            </div>
            <label class="col-sm-4 control-label" style="width: 15%" for="articleCategory">Category</label>
            <div class="col-sm-4">
                <select class="form-control" id="articleCategory" name="category" required>
                    <option value="" disabled selected>Select Category</option>
                    <option value="Vehicles and parts">Vehicles and parts</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Real Estate">Real Estate</option>
                    <option value="Home and Hobby">Home and Hobby</option>
                    <option value="Clothes">Clothes</option>
                    <option value="Jewelry">Jewelry</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" style="width: 15%" for="articleContent">Description</label>
            <div class="col-sm-6">
                <textarea class="form-control" style="resize: none" id="articleContent" rows="10" name="content" required></textarea>
            </div>
                </div>
        <div class="form-group text-left">
            <label class="col-sm-4 control-label" style="width: 15%" for="articleContent"></label>
            <div class="col-sm-6">
                <input class="form-control" style="width: 250px;" id="image" type="file" name="picture">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-9">

                <button type="reset" onclick="location.href='/'" class="btn btn-default" style="margin-left: 40px">Cancel</button>

                <button type="submit" class="btn btn-success" style="margin-left: 10px">Submit</button>
            </div>
        </div>
    </fieldset>
</form>