<form class="form-horizontal" enctype="multipart/form-data" method="POST" action="/article/create">
    <fieldset>
        <div class="form-group" style="margin-top: 30px;">
            <label class="col-sm-4 control-label" style="width: 15%" for="articleTitle">Заглавие</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="articleTitle" placeholder="Заглавие на обявата" name="title" required maxlength="50">
            </div>
            <label class="col-sm-4 control-label" style="width: 15%" for="articleCategory">Категория</label>
            <div class="col-sm-4">
                <select class="form-control" id="articleCategory" name="category" required>
                    <option value="" disabled selected>Избери Категория</option>
                    <option value="Vehicles and parts">Автомобили и части</option>
                    <option value="Electronics">Електроника</option>
                    <option value="Real Estate">Недвижими имоти</option>
                    <option value="Home and Hobby">Дом и хоби</option>
                    <option value="Clothes">Дрехи</option>
                    <option value="Jewelry">Бижута</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" style="width: 15%" for="articleContent">Описание</label>
            <div class="col-sm-6">
                <textarea class="form-control" style="resize: none" id="articleContent" rows="10" name="content" required></textarea>
            </div>
                </div>
        <div class="form-group text-left">
            <label class="col-sm-4 control-label" style="width: 15%" for="articleContent"></label>
            <div class="col-sm-6">
                <input class="form-control" style="width: 250px;" id="image" type="file" name="picture">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-9">

                <button type="reset" onclick="location.href='/'" class="btn btn-default">Назад</button>

                <button type="submit" class="btn btn-success" style="margin-left: 10px">Публикувай</button>
            </div>
        </div>
    </fieldset>
</form>