<form id="loginForm" method="post" action="/user/login">
    <p id="signInText">Вход</p>

    <div id="emailDiv">
        <label for="logEmail">Имейл</label><br />
    <input type="email" id="inputEmail" placeholder="Имейл" name="email">
    </div>

    <div id="passDiv">
        <label for="password">Парола</label><br />
        <input type="password" id="inputPassword" placeholder="Парола" name="password">
    </div>

    <div>
        <button type="submit" id="signInButton">Влез</button>
    </div>

    <div id="goToRegistrationDiv">
        <div id="newUserText"><span style="background-color: white; padding: 5px">Нямате профил?</span></div>
        <input id="goToRegistration" value="Създаване на нов профил" type="button" onclick="location.href='/user/register/'">
    </div>
</form>